/* Danielle Navarrette */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Molle:ital@1&family=Montserrat:wght@400;600&display=swap");


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --darkgray: #222222;
    --lightgray: #EAEAEA;
    --white: #FFF;
    --black: #000;
	--font-family-1: 'Molle', sans-serif;
	--font-family-2: 'Montserrat', sans-serif;
}

#skip, .sr-only{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#skip:focus {
    position: static;
    width: auto;
    height: auto;
}

h1, h2, h3 {
	font-family: var(--font-family-1);
}

h4, p, q, small, nav, button, form, footer {
	font-family: var(--font-family-2);
}

header {
	background-image: linear-gradient(var(--teal), var(--white));
}

/* HEADING */
h1 {
	font-size: 3em;
	padding-left: 36px;
}

h2 {
	font-size: 2.5em;
	padding-left: 36px;
}

h3 {
	font-size: 2em;
	padding: 20px 0px 10px 45px;
}

h4 {
	font-size: 1.5em;
	text-transform: uppercase;
	margin: 16px 0px 16px 0px;
}

header p {
	font-size: 1.3em;
	line-height: 1.5;
	margin: 36px;
}

/* MAJORCA */

#intro p {
	margin: 30px 30px 0px 30px;
	line-height: 2;
}

#img-grid img {
	margin: 24px auto;
	width: 100vw;
	display: grid;
}


/* PLAN */
#plan{
	background-color: var(--yellow);
	padding-bottom: 1rem;
}

#plan div {
	display: grid;
}

#plan section {
	display: grid;
	background-color: var(--teal);
	width: 70%;
	margin: 0.5rem auto;
	border: 2px solid var(--white);
	border-radius: 0.5rem;
	padding: 2rem;
}

#plan h4 {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	padding-bottom: 1rem;
}

#plan img {
	width: 50%;
	margin-left: 25%;
}

#plan, #testimonials, #about, #contact {
	margin: 0 auto;
}

/* TESTIMONIALS */
#testimonials section {
	display: block;
	text-align: center;
	margin: 0 auto;
}

#testimonials h4 {
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 1rem;
}

#testimonials q {
	font-size: 1.2rem;
	display: block;
	text-align: center;
	line-height: 1.5;
	width: 55%;
	margin: 0 auto 1rem auto;
	font-style: italic;
}

/* ABOUT */
#about {
	background-color: var(--blue);
	display: grid;
}

#about h3 {
	word-wrap: break-word;
	margin-bottom: 10px;
}

#about div {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	row-gap: 10px;
}

#about section {
	margin: 0 auto;
	text-align: center;
}

#about img {
	width: 100px;
	height: 100px;
}

/* CONTACT */
#contact h3{
    display: flex;
    font-size: 36px;

}

#contact h3 span{
    font-size: 1rem;
    padding-left: 10px;
    font-style: italic;
    font-family: var(--monsterratFont);
}
#contact {
    display: flex;
    flex-direction: column;
}

#contact input, #contact select {
    border: var(--purple) solid 2px;
    color: var(--darkgray);
    background-color: transparent;
}

#contact form {
    display: grid;
    margin: 0 50px;
}

#contact form div {
    display: flex;
    flex-direction: column;
}

#contact form input, #contact select{
    height: 5vh;
    border-radius: 0px;
}


label span.required {
    color: red;
}

#contact form label {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
	margin: 10px 0px 5px 0px;
}


#contact input[type="radio"]{
    accent-color: var(--purple);
    margin: 0 0 4px 2px;
    width: 40px;
    height: 40px;
}

#contact span.radio-input{
    width: 40px;
    height: 40px;
}

span.radio-label {
    margin: 0 0 0 5px
}

#contact label[for^="pref"] {
    display: flex;
    align-items: center;
    font-weight: normal;  
}
fieldset {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr ;
	margin-top:10px;
    
}

#contact #mySubmit {
    margin-top: 10px;
    background-color: var(--purple);
    color: var(--white);
    text-transform: uppercase;
}

/* FOOTER */
footer {
	background-color: var(--lightgray);
	margin-top: 50px;
}

footer p, footer a {
	display: block;
	text-align: center;
	padding: 1em;
}

/* MEDIUM SCREEN */
@media screen and (min-width: 850px){
	
	header {
		height: 320px;
		padding-top: 16px;
	}

	h1 {
		display: inline;
		position: relative;
		bottom: 50px;
		right: 50px;
	}

	header p {
		position: relative;
		left: 192px;
		bottom: 32px;
		width: 60%;
	}

	#toggle ~ label {
		display: none;
	}

	nav ul {
		display: block;
		margin: 16px auto;
	}

	nav li {
		display: inline;
		padding: 16px;
		background-color: var(--white);
		margin: 8px;
	}

	nav a {
		text-decoration: none;
		font-weight: 600;
		text-transform: uppercase;
		color: var(--black);
	}

	.active {
		background-color: var(--yellow);
	}

	#img-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin: 0 32px;
		width: 95%;
		column-gap: 32px;
	}

	#img-grid img {
		width: 100%;
	}

	#img-grid picture{
		grid-column: 1/-1;
		
	}
	
	#plan div {
		grid-template-columns: 1fr 1fr;
		grid-gap: 0;
	}

	#testimonials div {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#testimonials section {
		margin-top: 16px;
	}

	#about div {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
	}

	#about section{
		display: grid;
		grid-column: span 1;
		justify-items: center;
		align-items: center;
	}

	#about img {
		width: auto;
		height: 70%;
	}

	#about p {
		font-size: 16px;
	}

	#about h4 {
		font-size: 21px;
	}

	#contact {
		display: flex;
		align-content: stretch;
		flex-direction: column;
		margin: 0 50px;
	}

	#contact h3 {
		margin-left: -30px;
	}

	fieldset { 
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	footer {
		display: grid;
		grid-template-columns: repeat(3, auto);
		justify-content: space-evenly;
	}

	footer p, footer a {
		font-size: 1rem;
	}

	footer a {
		margin-top: 0.3rem;
	}
}

/* LARGE SCREEN */
@media screen and (min-width: 1200px) {
	header {
		padding-top: 1rem;
		height: 15rem;
	}

	nav ul {
		position: relative;
		bottom: 10rem;
		left: 30%;
	}

	#intro {
		display: grid;
		grid-template-columns: 1fr 1.5fr;
		width: 85%;
		margin: 0 auto;
	}

	#intro p {
		grid-column: 1/2;
	}

	#img-grid {
		position: relative;
		bottom: 4rem;
	}

	#plan {
		padding: 2rem 0;
	}

	#plan h3 {
		margin-left: 7%;
	}

	#plan div {
		width: 83%;
		margin: 0 auto;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	#testimonials {
		width: 85%;
		padding: 2rem 0;
	}

	#testimonials div {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	#testimonials q {
		width: 95%;
		font-size: 1rem;
	}

	#about {
		padding: 2rem 0;
	}

	#about h3 {
		margin-left: 7%;
	}

	#about section {
		width: 40%;
		margin: 0 auto;
	}

	#contact h3{
		margin-left: 60px;
	}

	form {
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 1rem;
		padding-left: 50px;
		justify-content: space-between;
	}

	#names {
		display: block;
	}

	#contact form input[type="text"], #contact form input[type="email"], #contact form input[type="tel"], #contact form select {
		width: 75%;
	}

	#contact {
		width: 90%;
	}

	fieldset {
		width: 75%;
	}

	.radio-input{
		display: inline;
	}

	input[type="radio"] {
		width: 20%;
		margin-left: 0;
		display: inline;
	}
	
	#selects label {
		padding-left: 5%;
	}

	input[type="submit"] {
		width: 10rem;
		padding: 1rem;
		margin-left: 55%;
	}

	footer{
		display: grid;
		grid-template-columns: 3fr 1fr 1fr;
	}

	footer p {
		text-align: left;
		margin-left: 5rem;
	}
}
